<div class="content-spacer"></div>
  <footer class="page-footer teal darken-3">
    <div class="container">
      <div class="row footer-content">
        <div class="col s12 m4">
          <h5 class="white-text">О сервисе</h5>
          <p class="grey-text text-lighten-4">Помогаем найти работу с 2010 года</p>
        </div>
        <div class="col s12 m4">
          <h5 class="white-text">Контакты</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" href="#!">info@example.com</a></li>
            <li><a class="grey-text text-lighten-4" href="#!">8 (800) 123-45-67</a></li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h5 class="white-text">Навигация</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" href="#!">Вакансии</a></li>
            <li><a class="grey-text text-lighten-4" href="#!">Работодателям</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal darken-4">
      <div class="container center-align">
        © 2025 JobFinder
      </div>
    </div>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.updateTextFields();
    });
</script><script src="/app.js"></script>